src/main/mule/filedownload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a5d45ad7-f02f-466a-91aa-cc7335aa7c65" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="cca012a4-9a17-4558-ab78-ba5926033225" />
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="50243bce-e0b4-4ed1-acee-8973e421b228" >
		<salesforce:cached-basic-connection username="debojyoti.c@pwc.com.wsfsdev" password="Welcome2@" securityToken="yMFycynHlaNxst5FnVCd1Z5Ql" url="https://test.salesforce.com/services/Soap/u/46.0" />
	</salesforce:sfdc-config>
	<flow name="filedownloadFlow" doc:id="f7f38ea4-7c4d-447f-bd60-f0f428c6bc47" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="ab02d4ca-fdff-4f09-b7f3-5a699085b4df" path="/ftp-file-download" config-ref="HTTP_Listener_config">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Disposition" : vars.respHeader
}]]]></http:headers>
			</http:response>
		</http:listener>
		<file:read doc:name="Read" doc:id="61acbcc4-a186-4c38-90c9-515429f98e7b" config-ref="File_Config" path="C:\Temp\file\file-1.xlsx"/>
		<set-variable value='#["attachment;filename=" ++ attributes.fileName as String]' doc:name="content-disposition value" doc:id="9a4129b5-0b5c-47fc-9945-81363dbbbe29" variableName="respHeader"/>
	</flow>
	<flow name="filedownloadFlow1" doc:id="26572092-bfce-4f78-ba34-25042f85f9f6" initialState="stopped">
		<salesforce:subscribe-channel doc:name="Subscribe channel" doc:id="f8ad7090-3b58-42bf-8949-a852c62b7a1f" config-ref="Salesforce_Config" streamingChannel="/event/CRM_Send_To_Encompass_Event__e"/>
		<logger level="INFO" doc:name="Logger" doc:id="42fd3e64-803f-4a43-a3e3-5df962eb5580" />
	</flow>
	<flow name="replayChannel" doc:id="a01cf451-3e3c-4f27-9289-4c4b3e16e4a9" initialState="stopped">
		<salesforce:replay-channel doc:name='"CRM_Send_To_Encompass_Event__e" Replay channel' doc:id="845eb266-7731-4161-83a7-4613cd8446e9" config-ref="Salesforce_Config" streamingChannel="/event/CRM_Send_To_Encompass_Event__e" replayOption="ONLY_NEW" autoReplay="true"/>
		<logger level="INFO" doc:name="Logger" doc:id="bad68aba-ab6f-4387-99a0-890eec23920d" />
	</flow>
</mule>
